{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<h1>Hello {{name}}!</h1>
  <h2> Version 1.0 </h2>
   <img src="{{url_for('static', filename='python.gif')}}" />
</div>
{% endblock %}
